<!-- Pricing Table -->
<div class="section">
    <div class="container">
        <h2>Pricing</h2>
        <div class="row">
            <!-- Pricing Plans Wrapper -->
            <div class="pricing-wrapper col-md-12">
                <!-- Pricing Plan -->
                <div class="pricing-plan">
                    <!-- Pricing Plan Ribbon -->
                    <div class="ribbon-wrapper">
                        <div class="price-ribbon ribbon-red">Starter</div>
                    </div>
                    <h2 class="pricing-plan-title">Web Site development</h2>
                    <p class="pricing-plan-price">$49</p>
                    <!-- Pricing Plan Features -->
                    <ul class="pricing-plan-features">
                        <li><strong>1</strong> projects</li>
                        <li>Small to medium customizations</li>
                    </ul>
                    <a href="index.html" class="btn">Request Quote Now</a>
                </div>
                <!-- End Pricing Plan -->
                <div class="pricing-plan">
                    <h2 class="pricing-plan-title">Mobile App Development</h2>
                    <p class="pricing-plan-price">$199<span>/mo</span></p>
                    <ul class="pricing-plan-features">
                        <li><strong>2</strong> developers</li>
                        <li>Advanced customizations</li>
                    </ul>
                    <a href="index.html" class="btn">Request Quote Now</a>
                </div>
                <!-- Promoted Pricing Plan -->
                <div class="pricing-plan pricing-plan-promote">
                    <h2 class="pricing-plan-title">eCommerce Store</h2>
                    <p class="pricing-plan-price">$299<span>/mo</span></p>
                    <ul class="pricing-plan-features">
                        <li><strong>1</strong> web store</li>
                        <li>Fully customizable</li>
                    </ul>
                    <a href="index.html" class="btn">Request Quote Now</a>
                </div>
                <div class="pricing-plan">
                    <!-- Pricing Plan Ribbon -->
                    <div class="ribbon-wrapper">
                        <div class="price-ribbon ribbon-green">New</div>
                    </div>
                    <h2 class="pricing-plan-title">Company Portal</h2>
                    <p class="pricing-plan-price">$1999<span>/mo</span></p>
                    <ul class="pricing-plan-features">
                        <li><strong>Unlimited</strong> resource pool</li>
                        <li>Full scale flexibility</li>
                    </ul>
                    <a href="index.html" class="btn">Request Quote Now</a>
                </div>
            </div>
            <!-- End Pricing Plans Wrapper -->
        </div>
    </div>
</div>
<!-- End Pricing Table -->
